<a href="https://colab.research.google.com/github/ASMT-College/lab1-data-pre-processing-SanjivJais/blob/main/Lab_1_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lab 1.1: Data Cleaning**

In [5]:
import pandas as pd
df = pd.read_csv("employee_data.csv")
print("Initial rows of dataset: \n\n", df.head())

# Handling missing valuesin the dataset
# Using means to replace missing values

df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())

# Making department names consistent/standard
df["Department"] = df["Department"].replace({
    "Human Resources": "HR",
    "H.R.": "HR",
    "hr": "HR"
})

# Remove duplicates based on ID column
df.drop_duplicates(subset="ID", keep="first", inplace=True)

print("\n\nCleaned dataset: \n\n", df.head())

Initial rows of dataset:

    ID     Name   Age       Department   Salary
0   1     John  28.0               HR  50000.0
1   2     Jane  35.0          Finance  60000.0
2   3    Emily   NaN               HR  55000.0
3   4  Michael  40.0  Human Resources      NaN
4   5    Sarah  29.0               IT  52000.0


Cleaned dataset:

    ID     Name   Age Department   Salary
0   1     John  28.0         HR  50000.0
1   2     Jane  35.0    Finance  60000.0
2   3    Emily  35.7         HR  55000.0
3   4  Michael  40.0         HR  58100.0
4   5    Sarah  29.0         IT  52000.0

**Lab 1.1 (Extra): Filling missing values by taking average of same department type**

In [21]:
import pandas as pd
df = pd.read_csv("employee_data.csv")
print("Initial rows of dataset: \n\n", df.head())

# Making department names consistent/standard
df["Department"] = df["Department"].replace({
    "Human Resources": "HR",
    "H.R.": "HR",
    "hr": "HR"
})

# Remove duplicates based on Name column
df.drop_duplicates(subset="Name", keep="first", inplace=True)

# Filling missing values with the mean of the values from the same department
df['Age'] = df.groupby('Department')['Age'].transform(lambda x: x.fillna(x.mean()))
df['Salary'] = df.groupby('Department')['Salary'].transform(lambda x: x.fillna(x.mean()))


print("\n\nCleaned dataset: \n\n", df)

Initial rows of dataset:

    ID     Name   Age       Department   Salary
0   1     John  28.0               HR  50000.0
1   2     Jane  35.0          Finance  60000.0
2   3    Emily   NaN               HR  55000.0
3   4  Michael  40.0  Human Resources      NaN
4   5    Sarah  29.0               IT  52000.0


Cleaned dataset:

    ID     Name   Age Department   Salary
0   1     John  28.0         HR  50000.0
1   2     Jane  35.0    Finance  60000.0
2   3    Emily  33.6         HR  55000.0
3   4  Michael  40.0         HR  56200.0
4   5    Sarah  29.0         IT  52000.0
5   6    David  50.0    Finance  75000.0
6   7    Laura  38.0         HR  68000.0
7   8   Robert  32.0         HR  57000.0
8   9    Linda  45.0         IT  62000.0
9  10    James  30.0         HR  51000.0

**Lab 1.2: Data Normalization**

In [9]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Step 1: Load the dataset and display preview
df = pd.read_csv("student_scores.csv")
print("Initial rows of dataset: \n\n", df.head())

# Step 2: Applying Min-Max normalization
scaler = MinMaxScaler()
df[['Math', 'Science', 'English']] = scaler.fit_transform(df[['Math', 'Science', 'English']])

print("\n\nNormalized Scores:\n\n", df.head())

Initial rows of dataset:

    StudentID  Math  Science  English
0          1    78       65       80
1          2    88       75       85
2          3    60       50       55
3          4    90       78       92
4          5    55       48       58


Normalized Scores:

    StudentID      Math  Science   English
0          1  0.657143  0.53125  0.675676
1          2  0.942857  0.84375  0.810811
2          3  0.142857  0.06250  0.000000
3          4  1.000000  0.93750  1.000000
4          5  0.000000  0.00000  0.081081

**Lab 1.3: Data Binning**

In [12]:
import pandas as pd

# Step 1: Import dataset and display head
df = pd.read_csv("customer_ages.csv")
print("Intial dataset: \n\n", df.head())

# Step 2: Binning ages into following bins: Young (18-30), Middle-Aged (31-50), Senior (51-above)
bins = [18, 30, 50, 100]
labels = ['Young', 'Middle-Aged', 'Senior']
df['Age_Group'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)

print("\n\nBinned dataset: \n\n", df.head())

# Step 3: Calculating disribution of customers in each age group
age_distribution = df['Age_Group'].value_counts()
print("\n\nDistribution of customers in each age group: \n\n", age_distribution)

Intial dataset:

    CustomerID  Age
0           1   25
1           2   42
2           3   36
3           4   53
4           5   28


Binned dataset:

    CustomerID  Age    Age_Group
0           1   25        Young
1           2   42  Middle-Aged
2           3   36  Middle-Aged
3           4   53       Senior
4           5   28        Young


Distribution of customers in each age group:

 Age_Group
Middle-Aged    7
Young          5
Senior         3
Name: count, dtype: int64

**Lab 1.4: Data Discretization**

In [13]:
import pandas as pd

# Step 1: Load the dataset
df = pd.read_csv('[sales_data.csv')
print("Initial Data:\n", df.head())

# Step 2: Applying discretization
bins = [0, 5000, 20000, float('inf')]
labels = ['Low', 'Medium', 'High']
df['SalesCategory'] = pd.cut(df['Sales'], bins=bins, labels=labels)

print("\nData after Discretization:\n", df.head())

# Step 3: Analyzing the distribution of sales categories
sales_category_distribution = df['SalesCategory'].value_counts()
print("\nSales Category Distribution:\n", sales_category_distribution)

Initial Data:
       Month  Sales
0   January  15000
1  February  18000
2     March  12000
3     April  30000
4       May  22000

Data after Discretization:
       Month  Sales SalesCategory
0   January  15000        Medium
1  February  18000        Medium
2     March  12000        Medium
3     April  30000          High
4       May  22000          High

Sales Category Distribution:
 SalesCategory
Medium    7
High      4
Low       1
Name: count, dtype: int64

**Lab 1.5: Feature Selection**

In [15]:
import pandas as pd
from sklearn.feature_selection import SelectKBest, chi2

# Step 1: Load the dataset
df = pd.read_csv('medical_data.csv')
print("Initial Data:\n", df.head())

# Step 2: Define features and target variable
X = df.drop(columns=['Disease'])
y = df['Disease']

# Step 3: Apply Chi-square feature selection
selector = SelectKBest(score_func=chi2, k=3)
selector.fit(X, y)

# Step 4: Get the top 3 features
top_features = X.columns[selector.get_support()]
print("\nTop 3 Features for Predicting Disease:\n", top_features)

Initial Data:
    PatientID  Age  BloodPressure  Cholesterol  Glucose  HeartRate  Disease
0          1   45            130          180       95         70        1
1          2   50            140          200      105         75        1
2          3   60            150          240      120         80        1
3          4   40            120          170       90         65        0
4          5   35            110          160       85         60        0

Top 3 Features for Predicting Disease:
 Index(['Age', 'Cholesterol', 'Glucose'], dtype='object')